:root {
  --glob-back: #1e1e2e; /* mocha base */
  --left-text: #cdd6f4; /* mocha text */
  --left-href: #cba6f7; /* mocha mauve */
  --left-bold: #f38ba8; /* mocha red */
  --left-smal: #bac2de; /* mocha subtext 1 */

  --rght-back: #eff1f5; /* latte base */
  --rght-text: #4c4f69; /* latte text */
  --rght-href: #8839ef; /* latte mauve */
  --rght-bold: #d20f39; /* latte red */
  --rght-smal: #5c5f77; /* latte subtext 1 */
}
body {
  margin-left: 0;
  margin-right: 0;
  background-color: var(--glob-back);
  font-family: Serif;
}
div {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 75vw;
  border: 2px dashed;
}
.left {
  border-color: var(--left-text);
  border-left: none;
  border-radius: 0 1em 1em 0;
  color: var(--left-text);
}
.right {
  float: right;
  text-align: right;
  border-color: var(--glob-back);
  border-right: none;
  background-color: var(--rght-back);
  color: var(--rght-text);
}
a {
  text-decoration: 2px dotted underline;
  font-weight: bold;
}
.left a, h2 a, q a {color: var(--left-href);}
.right a:not(h2 a, q a) {color: var(--rght-href);}
.left small {color: var(--left-smal);}
.right small {color: var(--rght-smal);}
.left b {color: var(--left-bold);}
.right b {color: var(--rght-bold);}
h2, q {
  font-family: Sans-Serif;
  background-color: var(--glob-back);
  border: 2px dashed var(--rght-back);
  padding-left: 1em; padding-right: 1em;
  margin-top: .5em; margin-bottom: .5em;
}
h2 {
  font-size: inherit;
  font-variant: small-caps;
  text-align: center;
  color: var(--left-bold);
}
q {
  display: inline-block;
  color: var(--left-text);
}
q::before, q::after {content: none;}
.down {
  position: relative;
  top: .25em;
}
.center {text-align: center;}
