:root {
  --glob-back: #1e1e2e;
  --left-text: #cdd6f4;
  --left-href: #cba6f7;

  --rght-back: #eff1f5;
  --rght-text: #4c4f69;
  --rght-href: #8839ef;
}
body {
  background-color: var(--glob-back);
  margin-left: 0;
  margin-right: 0;
}
div {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px dashed;
}
.left {
  border-color: var(--left-text);
  border-left: none;
  border-radius: 0 1em 1em 0;
  color: var(--left-text);
}
.right {
  float: right;
  text-align: right;
  border-color: var(--glob-back);
  border-right: none;
  background-color: var(--rght-back);
  color: var(--rght-text);
}
a {font-weight: bold;}
.left a {color: var(--left-href);}
.right a {color: var(--rght-href);}
